*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{ 
    /* background-color: #13131a; */
    background: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
}

.container {
padding: 30px;
display: grid;
width: 100%;
height: 100%;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
gap: 20px;
align-items: center;
justify-items: center;
}

.overlay {
color: #fff;
position: relative;
width: 400px;
height: 250px;
border-radius: 20px;
margin: 30px;
}

.overlay::before,
.overlay::after {
position: absolute;
content: "";
z-index: -1;
border-radius: 50%;
}

.overlay::before {
top: -20px;
right: -30px;
width: 180px;
height: 180px;
/* background-color: dodgerblue; */
}

.overlay::after {
bottom: -30px;
left: -40px;
width: 140px;
height: 140px;
/* background-color: deeppink; */
}

.card {
width: 100%;
/* height: 100%; */
padding: 30px;
text-transform: uppercase;
color: rgba(240, 240, 240, 0.7);
border-radius: 20px;
background-image: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
);
backdrop-filter: blur(20px);
box-shadow: 0 1px 24px -1px rgba(0, 0, 0, 0.1);
transition: transform 0.2s ease-out;
will-change: transform;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card__image {
width: 100%;
/* height: auto; */
border-radius: 20px;
box-shadow: 0 1px 24px -1px rgba(0, 0, 0, 0.1);
flex-grow: 1;
}

.content {
margin-top: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
text-align: center;
}

.social {
display: flex;
justify-content: space-around;
margin-top: 20px;
}

.social img {
width: 24px;
height: 24px;
}

@media (max-width: 1024px) {
body {
    background-image: linear-gradient(
        to bottom,
        #13131a 0%,
        #1c1c2f 50%,
        #eeeeee 50%,
        #cfcfcf 100%
    );
}
.container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
}
.name{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    color: #fff;
}
.position{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    margin-bottom: 0.5rem;
    align-self: center;
}
@keyframes spin {
    from {
       transform: rotateY(0deg);
    }
    to {
       transform: rotateY(1turn);
    }
   }
   